*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.wrapper{
    display: inline-flex;
    /* left: 50%; */
    justify-content: center;
    align-items: center;
    margin-left:10% ;
    top: 2%;
    /* top: 50%; */
    /* transition: translate(-50%,-50%); */
    position: absolute;
}
.wrapper a{
    width: 220px;
    height: 70px;
    text-decoration: none;
    border: 1px solid #ff0000;
    color: black;
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    margin: 10px;
    font-family: sans-serif;
    position: relative;
}
.wrapper a span{
    background: #00c3ff;
    position: absolute;
   transition: 0.8s ease_out;
   
    z-index: -1;

}
.wrapper a:hover {
    color: #fff;
    transition: 0.8s;
}
.to_right{
    width: 0px;
    height: 70px;
     left: 0;
    top: 0;

}
.wrapper a:hover .to_right{
    width: 220px;
    transition: 0.8s;
    left: 0;
    top: 0;

}
.to_left{
    width: 0px;
    height: 70px;
    right: 0;
    top: 0;

}
.wrapper a:hover .to_left{
    width: 220px;
    transition: 0.8s;

}
.to_top{
    width: 220px;
    height: 0px;
    right: 0;
    bottom: 0;

}
.wrapper a:hover .to_top{
    height: 70px;
    transition: 0.8s;

}
.to_bottom{
    width: 220px;
    height: 0px;
    right: 0;
    top: 0;

}
.wrapper a:hover .to_bottom{
    height: 70px;
    transition: 0.8s;

}
.to_diagonal{
    width: 0px;
    height: 0px;
    left: 0;
    bottom: 0;

}
.wrapper a:hover .to_diagonal{
    height: 70px;
    width: 220px;
    transition: 0.8s;

}
